<section>
    <div class="row">
        <div class="section">
            <div class="container">
                <h1 class="header center">Delivery Center</h1>
                <div class="center row">
                    <h5>Bluebox Delivery Center App is a Software Platform for Practicing Software Architectures.</h5>
                </div>
                <div class="center row">
                    <a class="waves-effect waves-light btn-large">GET STARTED</a>
                </div>                
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="col s12 m4">
                    <h2 class="center">
                        <i class="large material-icons">settings_input_component</i>
                    </h2>
                    <h5 class="center">
                        Plug-in your own components
                    </h5>
                    <p class="center light">
                        Microservices Architecture
                    </p>
                </div>
                <div class="col s12 m4">
                    <h2 class="center">
                        <i class="large material-icons">code</i>
                    </h2>
                    <h5 class="center">
                        Plug-in your own components
                    </h5>          
                    <p class="center light">
                        Angular 2 + ASP.NET Core
                    </p>                              
                </div>
                <div class="col s12 m4">
                    <h2 class="center">
                        <i class="large material-icons">store</i>
                    </h2>
                    <h5 class="center">
                        Plug-in your own components
                    </h5>            
                    <p class="center light">
                        Use Bluebox to simulate sending packages
                    </p>                           
                </div>
            </div>
        </div>
    </div>
</section>